/* src/styles.css */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
  color: #333;
  -ms-overflow-style: none; /* Para Internet Explorer y Edge */
  scrollbar-width: none; /* Para Firefox */
  overscroll-behavior-y: contain; /* Intenta con 'none' si 'contain' no es suficiente */
  touch-action: pan-y; /* Intenta con 'none' si 'pan-y' no es suficiente (con precaución) */
}

/* Ocultar la barra de scroll en navegadores WebKit (Chrome, Safari) */
body::-webkit-scrollbar {
  display: none;
  text-size-adjust: 100%; /* Asegúrate de tener esto para evitar el error de Edge */
}

/* Estilos del Logo (ahora centralizado aquí) */
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}



/* Animaciones (ahora centralizado aquí) */
@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

/* Estilos Generales */
.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
  font-size: 0.9em;
}

/* Pie de Página */
.footer {
  background-color: #1a1a1a;
  color: white;
  text-align: center;
  padding: 1rem;
  margin-top: 2rem;
 
}